<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<aside>
    <!-- Global Navigation Bar -->
    <ul id="gnb">
        <li>
            <a href="#"><i class="fa fa-cogs" aria-hidden="true"></i>Settings</a>
            <ol>
                <li><a href="#">General Settings</a></li>
                <li><a href="#">Banner Settings</a></li>
            </ol>
        </li>
        <li>
            <a href="#"><i class="fas fa-store" aria-hidden="true"></i>Store Management</a>
            <ol>
                <li><a href="#">Seller Profile</a></li>
                <li><a href="#">Stock Management</a></li>
            </ol>
        </li>
        <li>
            <a href="#"><i class="fa fa-users" aria-hidden="true"></i>User Management</a>
            <ol>
                <li><a href="#">User Status</a></li>
                <li><a href="#">Point Management</a></li>
                <li><a href="#">Visitor Status</a></li>
                <li><a href="#">Visitors total</a></li>
            </ol>
        </li>
        <li>
            <a href="#"><i class="fas fa-box-open" aria-hidden="true"></i>Product Management</a>
            <ol>
                <li><a th:href="@{/admin/product/list}">Product List</a></li>
                <li><a th:href="@{/admin/product/register}">Register a product</a></li>
                <li><a href="#">Stock Management</a></li>
            </ol>
        </li>
        <li>
            <a href="#"><i class="fa fa-credit-card" aria-hidden="true"></i>Order Management</a>
            <ol>
                <li><a href="#">Order Status</a></li>
                <li><a href="#">Sales Status</a></li>
                <li><a href="#">Payment Management</a></li>
                <li><a href="#">Delivery Management</a></li>
            </ol>
        </li>
        <li>
            <a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Board Management</a>
            <ol>
                <li><a href="#">Board Status</a></li>
                <li><a href="#">Customer Inquiry</a></li>
            </ol>
        </li>
    </ul>
</aside>
</html>