<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="@{admin/_header.html}"/>
<main>
    <th:block th:include="@{admin/_menu.html}"/>
    <section id="admin-index">
        <nav>
            <h3>Admin Page</h3>
            <p>
                HOME > <strong>Main</strong>
            </p>
        </nav>

        <h4>Store Status</h4>
        <article>
            <table>	
                <tr>
                    <td>
                        <strong>Orders Count</strong>
                        <span>131</span>
                    </td>
                    <td>
                        <strong>Orders Amount(Won)</strong>
                        <span>1,130,000</span>
                    </td>
                    <td>
                        <strong>New User</strong>
                        <span>1014</span>
                    </td>
                    <td>
                        <strong>Visitor</strong>
                        <span>1014</span>
                    </td>
                    <td>
                        <strong>New Post</strong>
                        <span>100</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <span>PC</span>
                            <span>60</span>
                        </p>
                        <p>
                            <span>Mobile</span>
                            <span>71</span>
                        </p>
                    </td>
                    <td>
                        <p>
                            <span>PC</span>
                            <span>60</span>
                        </p>
                        <p>
                            <span>Mobile</span>
                            <span>71</span>
                        </p>
                    </td>
                    <td>
                        <p>
                            <span>PC</span>
                            <span>60</span>
                        </p>
                        <p>
                            <span>Mobile</span>
                            <span>71</span>
                        </p>
                    </td>
                    <td>
                        <p>
                            <span>PC</span>
                            <span>60</span>
                        </p>
                        <p>
                            <span>Mobile</span>
                            <span>71</span>
                        </p>
                    </td>
                    <td>
                        <p>
                            <span>PC</span>
                            <span>60</span>
                        </p>
                        <p>
                            <span>Mobile</span>
                            <span>71</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <span>Yesterday</span>
                            <span>4</span>
                        </p>
                        <p>
                            <span>Week</span>
                            <span>10</span>
                        </p>
                        <p>
                            <span>Month</span>
                            <span>30</span>
                        </p>
                    </td>
                    <td>
                        <p>
                            <span>Yesterday</span>
                            <span>4</span>
                        </p>
                        <p>
                            <span>Week</span>
                            <span>10</span>
                        </p>
                        <p>
                            <span>월간</span>
                            <span>30</span>
                        </p>
                    </td>
                    <td>
                        <p>
                            <span>Yesterday</span>
                            <span>4</span>
                        </p>
                        <p>
                            <span>Week</span>
                            <span>10</span>
                        </p>
                        <p>
                            <span>Month</span>
                            <span>30</span>
                        </p>
                    </td>
                    <td>
                        <p>
                            <span>Yesterday</span>
                            <span>4</span>
                        </p>
                        <p>
                            <span>Week</span>
                            <span>10</span>
                        </p>
                        <p>
                            <span>Month</span>
                            <span>30</span>
                        </p>
                    </td>
                    <td>
                        <p>
                            <span>Yesterday</span>
                            <span>4</span>
                        </p>
                        <p>
                            <span>Week</span>
                            <span>10</span>
                        </p>
                        <p>
                            <span>Month</span>
                            <span>30</span>
                        </p>
                    </td>		
                </tr>
            </table>
        </article>

        <h4>Orders Status</h4>
        <article>
            <table>
                <tr>
                    <td>
                        <strong>Before Payment</strong>
                        <span>100</span>
                    </td>
                    <td>
                        <strong>Preparing for shipping</strong>
                        <span>100</span>
                    </td>
                    <td>
                        <strong>Canceled</strong>
                        <span>100</span>
                    </td>
                    <td>
                        <strong>Exchanged</strong>
                        <span>100</span>
                    </td>
                    <td>
                        <strong>Returned</strong>
                        <span>100</span>
                    </td>
                </tr>
            </table>                    
        </article>

        <div>
            <div>
                <h4>Notice</h4>
                <article>
                    <p>
                        <span>[Notice] Please change your password every three months.</span>
                        <span>20-07-08 12:23</span>
                    </p>
                    <p>
                        <span>[Notice] New Event</span>
                        <span>20-07-08 12:23</span>
                    </p>
                    <p>
                        <span>[Notice] New Event</span>
                        <span>20-07-08 12:23</span>
                    </p>
                    <p>
                        <span>[Notice] New Event</span>
                        <span>20-07-08 12:23</span>
                    </p>
                    <p>
                        <span>[Notice] New Event</span>
                        <span>20-07-08 12:23</span>
                    </p>
                </article>
            </div>

            <div>
                <h4>Customer Inquiry</h4>
                <article>
                    <p>
                        <span>[Inquiry] I have a question about the product.</span>
                        <span>20-07-08 12:23</span>
                    </p>
                    <p>
                        <span>[Return] I'd like to return my order.</span>
                        <span>20-07-08 12:23</span>
                    </p>
                    <p>
                        <span>[Exchange] Can I exchange to different color?</span>
                        <span>20-07-08 12:23</span>
                    </p>
                    <p>
                        <span>[Shipping] Where is my order?</span>
                        <span>20-07-08 12:23</span>
                    </p>
                    <p>
                        <span>[Inquiry] I have a question about the product.</span>
                        <span>20-07-08 12:23</span>
                    </p>                                                                
                </article>
            </div>
        </div>
    </section>
</main>
<th:block th:include="@{admin/_footer.html}"/>