<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="@{admin/_header.html}"/>
<main>
    <th:block th:include="@{admin/_menu.html}"/>
    <section id="admin-product-list">
        <nav>
            <h3>Product List</h3>
            <p>
                HOME > Products > <strong>Product List</strong>
            </p>
        </nav>
        <!-- Product list contents -->                                
        <section>
            <div>
                <select name="search">
                    <option value="search1">Product Name</option>
                    <option value="search1">Product Code</option>
                    <option value="search1">Manufacturer</option>
                    <option value="search1">Seller</option>                                    
                </select>
                <input type="text" name="search">
            </div>
            <table>
                <tr>
                    <th><input type="checkbox" name="all"/></th>
                    <th>Image</th>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Discount</th>
                    <th>Point</th>
                    <th>Stock</th>
                    <th>Seller</th>
                    <th>Hit</th>
                    <th>Manage</th>
                </tr>

                <tr>
                    <td><input type="checkbox" name="code"/></td>
                    <td><img src="../img/sample_thumb.jpg" class="thumb"></td>
                    <td>201603292</td>
                    <td>FreeMovement BLUEFORCE</td>
                    <td>36,000</td>
                    <td>10</td>
                    <td>360</td>
                    <td>400</td>
                    <td>Kim</td>
                    <td>126</td>
                    <td>
                        <a href="#">[Delete]</a>
                        <a href="#">[Edit]</a>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="code"/></td>
                    <td><img src="../img/sample_thumb.jpg" class="thumb"></td>
                    <td>201603292</td>
                    <td>FreeMovement BLUEFORCE</td>
                    <td>36,000</td>
                    <td>10</td>
                    <td>360</td>
                    <td>400</td>
                    <td>Kim</td>
                    <td>126</td>
                    <td>
                        <a href="#">[Delete]</a>
                        <a href="#">[Edit]</a>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="code"/></td>
                    <td><img src="../img/sample_thumb.jpg" class="thumb"></td>
                    <td>201603292</td>
                    <td>FreeMovement BLUEFORCE</td>
                    <td>36,000</td>
                    <td>10</td>
                    <td>360</td>
                    <td>400</td>
                    <td>Kim</td>
                    <td>126</td>
                    <td>
                        <a href="#">[Delete]</a>
                        <a href="#">[Edit]</a>
                    </td>
                </tr>     
            </table>           
            <input type="button" value="Delete" />                          
           <div class="paging">
                <span class="prev">
                    <a href="#"><&nbsp;Prev</a>
                </span>
                <span class="num">
                    <a href="#" class="on">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <a href="#">7</a>
                </span>
                <span class="next">
                    <a href="#">Next&nbsp;></a>
                </span>
                </div>
        </section>                       
        <p class="ico info">
            <strong>Tip!</strong>
            You can enter product information specified on the form.
        </p>
        <!-- Product list contents -->
    </section>
</main>
<th:block th:include="@{admin/_footer.html}"/>