<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="@{admin/_header.html}"/>
<script>
	$(function(){
		var select1 = $('select[name=cate1]');
		var select2 = $('select[name=cate2]');
			
		$.get('/kmarket/admin/product/cate1', function(result){
			$.each(result, function(i, data){
				select1.append("<option value='"+data.code1+"'>"+data.title+"</option>");
			})
		});
		
		select1.change(function(){
			var code1 = $(this).val();
			var param = {'code1':code1};
			
			$.get('/kmarket/admin/product/cate2', param, function(result){
				select2.empty();
				select2.append("<option value='0'>Secondary Category</option>");

				$.each(result, function(i, data){
					select2.append("<option value='"+data.code2+"'>"+data.title+"</option>");
				});
			});
		});
	});
</script>
<main>
    <th:block th:include="@{admin/_menu.html}"/>
    <section id="admin-product-register">
        <nav>
            <h3>Register a product</h3>
            <p>
                HOME > Products > <strong>Register</strong>
            </p>
        </nav>
        <!-- Register contents -->
        <article>
            <form th:action="@{/admin/product/register}" method="post" enctype="multipart/form-data">
                <!-- product categories -->
                <section>
                    <h4>Category</h4>
                    <p>
                        You must choose a primary category.
                    </p>
                    <table>
                        <tr>
                            <td>Primary Category</td>
                            <td>
                                <select name="cate1">
                                    <option value="0">Primary Category</option>                                             
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Secondary Category</td>
                            <td>
                                <select name="cate2">
                                    <option value="0">Secondary Category</option>                                        
                                </select>
                            </td>
                        </tr>
                    </table>
                </section>

                <!-- General Information -->
                <section>
                    <h4>General Information</h4>
                    <p>
                        You must fill the general information.
                    </p>
                    <table>
                        <tr>
                            <td>Product Name</td>
                            <td><input type="text" name="name"/></td>
                        </tr>
                        <tr>
                            <td>Product Description</td>
                            <td>
                                <span>You can enter details of product description below.</span>
                                <input type="text" name="descript"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Manufacturer</td>
                            <td><input type="text" name="company"/></td>
                        </tr>
                        <tr>
                            <td>Price</td>
                            <td><input type="text" name="price"/>Won</td>
                        </tr>                                    
                        <tr>
                            <td>Discount</td>
                            <td>
                                <span>Enter 0 for no discount.</span>
                                <input type="text" name="discount"/>Won
                            </td>
                        </tr>
                        <tr>
                            <td>Point</td>
                            <td>
                                <span>Enter 0 for no point.</span>
                                <input type="text" name="point"/>Point(s)
                            </td>
                        </tr>
                        <tr>
                            <td>Stock</td>
                            <td><input type="text" name="stock"/>Piece(s)</td>
                        </tr>
                        <tr>
                            <td>Delivery fee</td>
                            <td>
                                <span>Enter 0 for free shipping.</span>
                                <input type="text" name="delivery"/>Won
                            </td>
                        </tr>
                        <tr>
                            <td>Product Thumbnail</td>
                            <td>
                                <span>Image by 190 x 190 on product list</span>
                                <input type="file" name="file1"/>

                                <span>Image by 230 x 230 on product main page</span>
                                <input type="file" name="file2"/>

                                <span>Image by 456 x 456 on product detail</span>
                                <input type="file" name="file3"/>
                            </td>
                        </tr>
                        <tr>
                            <td>Detailed Description</td>
                            <td>
                                <span>Size: Width 940px, Height no limit, File Size Max 1MB</span>
                                <input type="file" name="file4"/>
                            </td>
                        </tr>
                    </table>                                
                </section>

                <!-- product information -->
                <section>
                    <h4>Product information</h4>
                    <p>This information is provided by ACT ON THE CONSUMER PROTECTION IN ELECTRONIC COMMERCE.</p>
                    <table>
                        <tr>
                            <td>Item Condition</td>
                            <td><input type="text" name="status" value="New"/></td>
                        </tr>
                        <tr>
                            <td>Tax Exemption</td>
                            <td><input type="text" name="dutyfree" value="Taxable"/></td>
                        </tr>
                        <tr>
                            <td>Receipt Issuance</td>
                            <td><input type="text" name="receipt" value="Available"/></td>
                        </tr>
                        <tr>
                            <td>Business Certification</td>
                            <td><input type="text" name="bizClass" value="Certified"/></td>
                        </tr>
                        <tr>
                            <td>Origin</td>
                            <td><input type="text" name="origin" value="Domestic"/></td>
                        </tr>
                    </table>                                
                </section>
                
                <input type="submit" value="Submit"/>
            </form>
        </article>

        <p class="ico alert">
            <strong>Warning!</strong>
             You can enter product information specified on the form.
        </p>
        <!-- Register contents end -->
    </section>
</main>
<th:block th:include="@{admin/_footer.html}"/>