<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="@{_header.html}"/>
<main>
   	<th:block th:include="@{_category.html}"/>
    <!-- product list -->
    <section id="list">
      
      <!-- title, page navigation -->
      <nav>
        <h1>[[${titles.tit2}]] Product List</h1>
        <p>
          HOME > <span>[[${titles.tit1}]]</span> > <strong>[[${titles.tit2}]]</strong>
        </p>
      </nav>

      <!-- sorting link -->
      <ul class="sort">
          <li><a th:href="@{/shop/list(cate1=${cate1}, cate2=${cate2}, sort=1)}">Most Popular</a></li>
          <li><a th:href="@{/shop/list(cate1=${cate1}, cate2=${cate2}, sort=2)}">Price: Lowest First</a></li>
          <li><a th:href="@{/shop/list(cate1=${cate1}, cate2=${cate2}, sort=3)}">Price: Highest First</a></li>
          <li><a th:href="@{/shop/list(cate1=${cate1}, cate2=${cate2}, sort=4)}">Top Rated</a></li>
          <li><a th:href="@{/shop/list(cate1=${cate1}, cate2=${cate2}, sort=5)}">Customer Reviews</a></li>
          <li><a th:href="@{/shop/list(cate1=${cate1}, cate2=${cate2}, sort=6)}">Newly Listed</a></li>
      </ul>

      <!-- product list 10 -->
      <section>
        <article th:each="product:${products}">
          <ul>
            <li>
              <a th:href="@{/shop/view(code=${product.code})}" class="thumb">
              	<img th:src="@{/thumb/{code1}/{code2}/{img}(code1=${product.cate1}, code2=${product.cate2}, img=${product.thumb2})}" alt="img">
              </a>
            </li>
            <li>
              <h3 class="name"><a th:href="@{/shop/view(code=${product.code})}">[[${product.name}]]</a></h3>
              <p class="desc">[[${product.descript}]]</p>
            </li>
            <li>
              <div class="dis_price">
                <ins>[[${#numbers.formatInteger(product.salePrice, 3, 'COMMA')}]]</ins>
              </div>
              <div class="org_price">
                <del>[[${#numbers.formatInteger(product.price, 3, 'COMMA')}]]</del>
                <span>[[${product.discount}]]%</span>
              </div>
              <span th:if="${product.delivery == 0}" class="freeshipping">Free Shipping</span>
			  <span th:if="${product.delivery > 0}">Shipping Fee [[${#numbers.formatInteger(product.delivery, 3, 'COMMA')}]]</span>
            </li>
            <li>
              <h4 class="seller"><i class="fas fa-home"></i>&nbsp;[[${product.company}]]</h4>
              <h5 class="badge power">Seller Rating</h5>
              <h6 th:if="${product.score == 1}" class="rating star1">Review</h6>
              <h6 th:if="${product.score == 2}" class="rating star2">Review</h6>
              <h6 th:if="${product.score == 3}" class="rating star3">Review</h6>
              <h6 th:if="${product.score == 4}" class="rating star4">Review</h6>
              <h6 th:if="${product.score == 5}" class="rating star5">Review</h6>
            </li>
          </ul>
        </article>
      </section>

      <!-- product list paging -->
      <div class="paging">
        <span class="prev">
          <a href="#"><&nbsp;Prev</a>
        </span>
        <span class="num">
          <a href="#" class="on">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
          <a href="#">6</a>
          <a href="#">7</a>
        </span>
        <span class="next">
          <a href="#">Next&nbsp;></a>
        </span>
      </div>

    </section>
</main>
<th:block th:include="@{_footer.html}"/>