<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="@{_header.html}"/>
<main>
	<th:block th:include="@{_category.html}"/>
   <!-- order completed -->
   <section id="order-complete">
     
     <!-- title, page navigation -->
      <nav>
        <h1>ORDER COMPLETED!</h1>
        <p>
          HOME > SHOP > ORDER > <strong>ORDER COMPLETED</strong>
        </p>
      </nav>

      <section>            
        <div>
          <h2>Your order has been successfully placed.<i class="far fa-smile"></i></h2>
          <p>
            Thank you for shopping with us.
          </p>
        </div>
    
        <section>
          <article class="product">
            <h1>Product Details</h1>
            <table border="0">
              <tr>
                <th>Product</th>
                <th>Subtotal</th>
                <th>Discounts Applied</th>
                <th>Quantity</th>
                <th>Grand Total</th>
              </tr>
              <tr>
                <td>
                  <article>
                    <img src="../img/thumb-sample-t2.jpg" alt="">
                    <div>
                      <h2><a href="#">TH-블락체크 셔츠-그레이2 [면세]</a></h2>
                      <p>SIZE:M / COLOR:Blue 1 Item</p>
                    </div>
                  </article>
                </td>
                <td>17,000 Won</td>
                <td>1,000 Won</td>
                <td>1</td>
                <td>16,000 Won</td>
              </tr>
              <tr>
                <td>
                  <article>
                    <img src="../img/thumb-sample-t1.jpg" alt="">
                    <div>
                      <h2><a href="#">TH-블락체크 셔츠-그레이2 [면세]</a></h2>
                      <p>SIZE:M / COLOR:블루 1개</p>
                    </div>
                  </article>
                </td>
                <td>17,000원</td>
                <td>1,000원</td>
                <td>1</td>
                <td>16,000원</td>
              </tr>
              <tr class="total">
                <td colspan="4"></td>
                <td>
                  <table border="0">
                    <tr>
                      <td>Subtotal</td>
                      <td><span>34,000</span>Won</td>
                    </tr>
                    <tr>
                      <td>Discounts Applied</td>
                      <td><span>-2,000</span>Won</td>
                    </tr>
                    <tr>
                      <td>Shipping fee</td>
                      <td><span>3,000</span>Won</td>
                    </tr>
                    <tr>
                      <td>Grand Total</td>
                      <td><span>35,000</span>Won</td>
                    </tr>
                  </table>                      
                </td>
              </tr>
            </table>                
          </article>
    
          <article class="order">
            <h1>Order Details</h1>
      
            <table border="0">
              <tr>
                <td>Order Number</td>
                <td>2008101324568</td>
                <td rowspan="3">Grand Total</td>
                <td rowspan="3"><span>35,000</span>원</td>
              </tr>
              <tr>
                <td>Payment method</td>
                <td>Credit Card</td>
              </tr>
              <tr>
                <td>Name/Phone</td>
                <td>Stella Kim/010-1234-1234</td>
              </tr>
            </table>
          </article>
    
          <article class="delivery">
            <h1>Shipping Address</h1>
            <table border="0">
              <tr>
                <td>Name</td>
                <td>Stella Kim</td>                    
                <td>Details</td>
              </tr>
              <tr>
                <td>Phone</td>
                <td>010-1234-1234</td>
                <td rowspan="2">
                  Stella Kim<br/>
                  010-1234-1234
                </td>
              </tr>
              <tr>
                <td>Shipping Address</td>
                <td>XXXXX</td>
              </tr>
            </table>
          </article>
    
          <article class="alert">
            <h1>Alert</h1>
            <ul>
              <li><span>The item and its contents listed on Kmarket are entered by individual sellers. Kmarket only provides the trading platforms and systems to facilitate transactions, and is not responsible for it.</span></li>
            </ul>
          </article>            
        </section>
      </section>
    </section>
</main>
<th:block th:include="@{_footer.html}"/>