<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="@{_header.html}"/>
<script>
	$(function() {
		//use point
		$('input[name=pointBtn]').click(function() {
			var applyPoint = Number($('input[name=point]').val());
			if(applyPoint > 0) {
				var currentPoint = Number($('.currentPoint').text().replace(/,/g, ''));
				var finalTotal = Number($('.final').text().replace(/,/g, ''));
				
				currentPoint -= applyPoint;
				finalTotal -= applyPoint;
				
				$('.currentPoint').text(currentPoint.toLocaleString());
				$('.pointDiscount').text(applyPoint.toLocaleString());
				$('.final').text(finalTotal.toLocaleString());
				$('input[name=point]').val(0);
			}else{
				alert('Enter the points you want to use.');
			}
		});
		
		//finish order
		$('input[name=finalOrder]').click(function() {
			
			var orderId = $('input[name=orderId]').val();
			var orderer = $('input[name=orderer]').val();
			var hp 		= $('input[name=hp]').val();
			var zip 	= $('input[name=zip]').val();
			var addr1	= $('input[name=addr1]').val();
			var addr2   = $('input[name=addr2]').val();
			var payment = $('input[name=payment]').val();
			var pointDiscount = $('.pointDiscount').text().replace(/,/g, '');
			
			var params = {
				'orderId': orderId,
				'orderer': orderer,
				'hp': hp,
				'zip': zip,
				'addr1': addr1,
				'addr2': addr2,
				'payment': payment,
				'pointDiscount': pointDiscount
			};
			
			$.ajax({
				url: '/kmarket/shop/order-complete',
				type: 'post',
				data: params,
				dataType: 'json',
				success: function(data) {
					alert('order completed!');
					location.href="/kmarket/shop/order-complete?orderId="+data.orderId;
				}
			});
		});
});
</script>
<main>
	<th:block th:include="@{_category.html}"/>
    <!-- order payment -->
    <section id="order">
      
      <!-- title, page navigation -->
      <nav>
        <h1>Review your order</h1>
        <p>
          HOME > SHOP > <strong>Review your order</strong>
        </p>
      </nav>
      <section>
        <form action="#">
            <div class="product">
                <table>
                    <thead>
                      <tr>
                        <th>Product</th>
		                <th>Quantity</th>
		                <th>Price</th>
		                <th>Discount</th>
		                <th>Point</th>
		                <th>Shipping fee</th>
		                <th>Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="empty">
                        <td colspan="7">The cart is empty.</td>
                      </tr>
                      <tr th:each="product:${products}">
		                <td>
		                  <article>
		                    <a href="#"><img th:src="@{/thumb/{code1}/{code2}/{img}(code1=${product.cate1}, code2=${product.cate2}, img=${product.thumb1})}" alt=""></a>
		                    <div>
		                      <h2><a href="#">[[${product.pName}]]</a></h2>
		                      <p></p>
		                    </div>
		                  </article>
		                </td>
						<td class="count">1</td>
		                <td class="price">[[${#numbers.formatInteger(product.pPrice, 3, 'COMMA')}]]</td>
		                <td class="discount" th:if="${product.pDiscount} > 0">[[${product.pDiscount}]]%</td>
		                <td class="discount" th:unless="${product.pDiscount} > 0">-</td>
		                <td class="point">[[${product.pPoint}]]</td>
		                <td class="delivery" th:if="${product.pDelivery} == 0">Free Shipping</td>
		                <td class="delivery" th:unless="${product.pDelivery} == 0">[[${#numbers.formatInteger(product.pDelivery, 3, 'COMMA')}]]</td>
		                <td class="total">[[${#numbers.formatInteger(product.pTotal, 3, 'COMMA')}]]</td>
		              </tr>
                    </tbody>
                  </table>                      
            </div>
            
            <section>
                <article class="delivery">
                  <h1>Shipping address</h1>                          
                  <table>
                    <tr>
                      <td>Name</td>
                      <td><input type="text" name="orderer" th:value="${member.name}"/></td>
                    </tr>
                    <tr>
                      <td>Phone</td>
                      <td>
                        <input type="text" name="hp" th:value="${member.hp}"/>
                        <span>including -</span>
                      </td>
                    </tr>
                    <tr>
                      <td>ZIP code</td>
                      <td>
                        <input type="text" name="zip" th:value="${member.zip}"/>
                        <input type="button" value="Search"/>
                      </td>
                    </tr>
                    <tr>
                      <td>Street Address</td>
                      <td>
                        <input type="text" name="addr1" th:value="${member.addr1}"/>
                      </td>
                    </tr>
                    <tr>
                      <td>Apt, suite, unit, building, etc.</td>
                      <td>
                        <input type="text" name="addr2" th:value="${member.addr2}"/>
                      </td>
                    </tr>
                  </table>
                </article>

                <article class="discount">
                    <h1>Discount</h1>
                    <div>
                        <p>Current Point(s) : <span class="currentPoint">[[${member.point}]]</span>Points</p>
                        <label>
                            <input type="text" name="point" value="0"/>Points
                            <input type="button" name="pointBtn" value="Apply"/>
                        </label>
                        <span>You can use points when it's over 5,000.</span>
                    </div>
                </article>

                <article class="payment">
                    <h1>Payment Options</h1>
                    <div>
                        <span>Credit or Debit Cards</span>
                        <p>
                            <label><input type="radio" name="payment" value="1"/>Credit Card</label>
                            <label><input type="radio" name="payment" value="2"/>Debit Card</label>                                
                        </p>
                    </div>
                    <div>
                        <span>Checking Accounts</span>
                        <p>
                            <label><input type="radio" name="payment" value="3"/>Personal Checking Accounts</label>
                            <label><input type="radio" name="payment" value="4"/>Personal Checking Accounts</label>                                
                        </p>
                    </div>
                    <div>
                        <span>Others</span>
                        <p>
                            <label><input type="radio" name="payment" value="5"/>Phone</label>
                            <label>
                                <input type="radio" name="payment" value="6"/>Kakaopay
                                <img th:src="@{/img/ico_kakaopay.gif}" alt="kakaopay"/>
                            </label>                                
                        </p>
                    </div>
                </article>

                <article class="alert">
                    <ul>
                        <li><span>The item and its contents listed on Kmarket are entered by individual sellers. Kmarket only provides the trading platforms and systems to facilitate transactions, and is not responsible for it.</span></li>
                    </ul>
                </article>

                <div class="info">
                    <h2>Order Summary</h2>
                    <input type="hidden" name="orderId" th:value="${infoData.orderId}" />
                    <table border="0">
                      <tr>
                        <td>Total</td>
                        <td>[[${infoData.count}]]</td>
                      </tr>
                      <tr>
                        <td>Price</td>
                        <td>[[${#numbers.formatInteger(infoData.price, 3, 'COMMA')}]]</td>
                      </tr>
                      <tr>
                        <td>Discount</td>
                        <td>[[${#numbers.formatInteger(infoData.discount, 3, 'COMMA')}]]</td>
                      </tr>
                      <tr>
                        <td>Delivery</td>
                        <td>[[${#numbers.formatInteger(infoData.delivery, 3, 'COMMA')}]]</td>
                      </tr>
                      <tr>
                        <td>Points Used</td>
                        <td class="pointDiscount">0</td>
                      </tr>
                      <tr>
                        <td>Grand Total</td>
                        <td class="final">[[${#numbers.formatInteger(infoData.total, 3, 'COMMA')}]]</td>
                      </tr>
                      
                    </table>
                    <input type="button" name="finalOrder" value="Order" />
        
                  </div>
            </section>                
        </form>
      </section>
    </section>
</main>
<th:block th:include="@{_footer.html}"/>
</html>