<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="@{_header.html}"/>
<main>
	<th:block th:include="@{_category.html}"/>
  <section id="search">
    <nav>
      <h1>SEARCH RESULT</h1>
      <p>
        HOME > <span>SEARCH</span> > <strong>KEYWORD</strong>
      </p>
    </nav>

    <div class="detail_search">
      <h3><strong>Shirts</strong>Result <em>(Total&nbsp;:&nbsp;<span>20</span>&nbsp;results)</em></h3>
      <form action="#">
        <input type="text" name="search"/>
        <input type="submit" value="Submit"/>
        <span>
            <label><input type="checkbox" name="chk" value="Name">Name</label>
            <label><input type="checkbox" name="chk" value="Description">Description</label>
            <label><input type="checkbox" name="chk" value="Price">Price</label>
            <input type="text" name="min"/>원&nbsp;~&nbsp;<input type="text" name="max"/>Won
        </span>
      </form>
      <p class="info">
        Search Here!<br>
      </p>
    </div>
    <ul class="sort">
        <li><a href="#">Most Popular</a></li>
        <li><a href="#">Price: Lowest First</a></li>
        <li><a href="#">Price: Highest First</a></li>
        <li><a href="#">Top Rated</a></li>
        <li><a href="#">Customer Reviews</a></li>
        <li><a href="#">Newly Listed</a></li>
    </ul>
    <section>
      <article>
        <ul>
          <li>
            <a href="#" class="thumb"><img src="../img/thumb-sample-t1.jpg" alt="상품이미지"/></a>
          </li>
          <li>
            <h3 class="name">FreeMovement BLUEFORCE</h3>
            <p class="desc">
              <a href="#">[블루포스] 여름신상 남방/솔리드긴팔남자옷/데님청/체크스판셔츠</a>
            </p>
          </li>
          <li>
            <div class="dis_price">
              <ins>27,000</ins>
            </div>
            <div class="org_price">
              <del>30,000</del>
              <span>10%</span>
            </div>
            <span class="freeshipping">Free Shipping</span>
          </li>
          <li>
            <h4 class="seller"><i class="fas fa-home"></i>&nbsp;블루포스</h4>
            <h5 class="badge power">Seller Rating</h5>
            <h6 class="rating star1">Review</h6>
          </li>
        </ul>
      </article>
      <article>
        <ul>
          <li>
            <a href="#" class="thumb"><img src="../img/thumb-sample-t2.jpg" alt="상품이미지"/></a>
          </li>
          <li>
            <h3 class="name">Name</h3>
            <p class="desc">
              <a href="#">Description</a>
            </p>
          </li>
          <li>
            <div class="dis_price">
              <ins>27,000</ins>
            </div>
            <div class="org_price">
              <del>30,000</del>
              <span>10%</span>
            </div>
            <span class="freeshipping">Free Shipping</span>
          </li>
          <li>
            <h4 class="seller"><i class="fas fa-home"></i>&nbsp;Seller</h4>
            <h5 class="badge great">Seller Rating</h5>
            <h6 class="rating star2">Review</h6>
          </li>
        </ul>
      </article>
      <article>
        <ul>
          <li>
            <a href="#" class="thumb"><img src="../img/thumb-sample-t3.jpg" alt="상품이미지"/></a>
          </li>
          <li>
            <h3 class="name">Name</h3>
            <p class="desc">
              <a href="#">Description</a>
            </p>
          </li>
          <li>
            <div class="dis_price">
              <ins>27,000</ins>
            </div>
            <div class="org_price">
              <del>30,000</del>
              <span>10%</span>
            </div>
            <span class="freeshipping">Free Shipping</span>
          </li>
          <li>
            <h4 class="seller"><i class="fas fa-home"></i>&nbsp;Seller</h4>
            <h5 class="badge power great">Seller Rating</h5>
            <h6 class="rating star3">Review</h6>
          </li>
        </ul>
      </article>
      <article>
        <ul>
          <li>
            <a href="#" class="thumb"><img src="../img/thumb-sample-t4.jpg" alt="상품이미지"/></a>
          </li>
          <li>
            <h3 class="name">Name</h3>
            <p class="desc">
              <a href="#">Description</a>
            </p>
          </li>
          <li>
            <div class="dis_price">
              <ins>27,000</ins>
            </div>
            <div class="org_price">
              <del>30,000</del>
              <span>10%</span>
            </div>
            <span class="freeshipping">Free Shipping</span>
          </li>
          <li>
            <h4 class="seller"><i class="fas fa-home"></i>&nbsp;Seller</h4>
            <h5 class="badge power great">Seller Rating</h5>
            <h6 class="rating star4">Review</h6>
          </li>
        </ul>
      </article>
      <article>
        <ul>
          <li>
            <a href="#" class="thumb"><img src="../img/thumb-sample-t5.jpg" alt="상품이미지"/></a>
          </li>
          <li>
            <h3 class="name">Name</h3>
            <p class="desc">
              <a href="#">Description</a>
            </p>
          </li>
          <li>
            <div class="dis_price">
              <ins>27,000</ins>
            </div>
            <div class="org_price">
              <del>30,000</del>
              <span>10%</span>
            </div>
            <span class="freeshipping">Free Shipping</span>
          </li>
          <li>
            <h4 class="seller"><i class="fas fa-home"></i>&nbsp;판매자상정명</h4>
            <h5 class="badge power great">Seller Rating</h5>
            <h6 class="rating star5">Review</h6>
          </li>
        </ul>
      </article>
      <article>
        <ul>
          <li>
            <a href="#" class="thumb"><img src="../img/thumb-sample-t5.jpg" alt="상품이미지"/></a>
          </li>
          <li>
            <h3 class="name">Name</h3>
            <p class="desc">
              <a href="#">Description</a>
            </p>
          </li>
          <li>
            <div class="dis_price">
              <ins>27,000</ins>
            </div>
            <div class="org_price">
              <del>30,000</del>
              <span>10%</span>
            </div>
            <span class="freeshipping">Free Shipping</span>
          </li>
          <li>
            <h4 class="seller"><i class="fas fa-home"></i>&nbsp;Seller</h4>
            <h5 class="badge power great">Seller Rating</h5>
            <h6 class="rating star5">Review</h6>
          </li>
        </ul>
      </article>
      <article>
        <ul>
          <li>
            <a href="#" class="thumb"><img src="../img/thumb-sample-t5.jpg" alt="상품이미지"/></a>
          </li>
          <li>
            <h3 class="name">Name</h3>
            <p class="desc">
              <a href="#">Description</a>
            </p>
          </li>
          <li>
            <div class="dis_price">
              <ins>27,000</ins>
            </div>
            <div class="org_price">
              <del>30,000</del>
              <span>10%</span>
            </div>
            <span class="freeshipping">Free Shipping</span>
          </li>
          <li>
            <h4 class="seller"><i class="fas fa-home"></i>&nbsp;Seller</h4>
            <h5 class="badge power great">Seller Rating</h5>
            <h6 class="rating star5">Review</h6>
          </li>
        </ul>
      </article>
      <article>
        <ul>
          <li>
            <a href="#" class="thumb"><img src="../img/thumb-sample-t5.jpg" alt="상품이미지"/></a>
          </li>
          <li>
            <h3 class="name">Name</h3>
            <p class="desc">
              <a href="#">Description</a>
            </p>
          </li>
          <li>
            <div class="dis_price">
              <ins>27,000</ins>
            </div>
            <div class="org_price">
              <del>30,000</del>
              <span>10%</span>
            </div>
            <span class="freeshipping">Free Shipping</span>
          </li>
          <li>
            <h4 class="seller"><i class="fas fa-home"></i>&nbsp;Seller</h4>
            <h5 class="badge power great">Seller Rating</h5>
            <h6 class="rating star5">Review</h6>
          </li>
        </ul>
      </article>
      <article>
        <ul>
          <li>
            <a href="#" class="thumb"><img src="../img/thumb-sample-t5.jpg" alt="image"/></a>
          </li>
          <li>
            <h3 class="name">Name</h3>
            <p class="desc">
              <a href="#">Description</a>
            </p>
          </li>
          <li>
            <div class="dis_price">
              <ins>27,000</ins>
            </div>
            <div class="org_price">
              <del>30,000</del>
              <span>10%</span>
            </div>
            <span class="freeshipping">Free Shipping</span>
          </li>
          <li>
            <h4 class="seller"><i class="fas fa-home"></i>&nbsp;Seller</h4>
            <h5 class="badge power great">Seller Rating</h5>
            <h6 class="rating star5">Review</h6>
          </li>
        </ul>
      </article>
      <article>
        <ul>
          <li>
            <a href="#" class="thumb"><img src="../img/thumb-sample-t5.jpg" alt="image"/></a>
          </li>
          <li>
            <h3 class="name">Name</h3>
            <p class="desc">
              <a href="#">Description</a>
            </p>
          </li>
          <li>
            <div class="dis_price">
              <ins>27,000</ins>
            </div>
            <div class="org_price">
              <del>30,000</del>
              <span>10%</span>
            </div>
            <span class="freeshipping">Free Shipping</span>
          </li>
          <li>
            <h4 class="seller"><i class="fas fa-home"></i>&nbsp;Seller</h4>
            <h5 class="badge power great">Seller Rating</h5>
            <h6 class="rating star5">Review</h6>
          </li>
        </ul>
      </article>
    </section>
    <div class="paging">
      <span class="prev">
        <a href="#"><&nbsp;Prev</a>
      </span>
      <span class="num">
        <a href="#" class="on">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">7</a>
      </span>
      <span class="next">
        <a href="#">Next&nbsp;></a>
      </span>
    </div>
  </section>
</main>
<th:block th:include="@{_footer.html}"/>