<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="@{_header.html}"/>
<script th:inline="javascript">
	$(function() {
		//add to cart
		$('input.cart').click(function(){
			var product = [[${productVo}]];
			var count = 1;
			var total = (product.price*count)*(1-product.discount/100);
			
			var jsonData = {
					'code': product.code,
					'name': product.name,
					'count': count,
					'price': product.price,
					'discount': product.discount,
					'point': product.point,
					'delivery': product.delivery,
					'total': total
			};
			//console.log(jsonData);
			
			$.ajax({
				url: '/kmarket/shop/cart',
				type: 'post',
				data: jsonData,
				dataType: 'json',
				success: function(data){
					if(data.result == 1){
						var result = confirm('The item is added to your shopping cart. \nGo to cart?');
						if(result){
							location.href = '/kmarket/shop/cart';
						}
					}else if(data.result == 2){
						alert('You need to login to save the item in the cart.');
					}else if(data.result == 3){
						alert('The item is already added to the cart.');
					}
				}
			});
		});
		
		//order
		$('input.order').click(function(){
			alert('Place the order');
		});
	});
</script>
<main>
	<th:block th:include="@{_category.html}"/>
    <!-- product description -->
    <section id="view">                
        <nav>
            <h1>[[${productVo.name}]]</h1>
            <p>
                HOME > <span>[[${productVo.tit1}]]</span> > <strong>[[${productVo.tit2}]]</strong>
            </p>
        </nav>
        <section>
            <article class="info">
                <div class="image">
                    <img th:src="@{/thumb/{code1}/{code2}/{img}(code1=${productVo.cate1}, code2=${productVo.cate2}, img=${productVo.thumb2})}" alt="thumbimg"/>
                </div>
                <div class="summary">
                    <nav>
                        <h1>[[${productVo.company}]]</h1>
                        <h2>Product No.&nbsp;:&nbsp;<span>[[${productVo.code}]]</span></h2>
                    </nav>
                    <p>[[${productVo.descript}]]</p>
                    <nav>
                        <h5 th:if="${productVo.score == 1}" class="rating star1"><a href="#">Customer Review</a></h5>
                        <h5 th:if="${productVo.score == 2}" class="rating star2"><a href="#">Customer Review</a></h5>
                        <h5 th:if="${productVo.score == 3}" class="rating star3"><a href="#">Customer Review</a></h5>
                        <h5 th:if="${productVo.score == 4}" class="rating star4"><a href="#">Customer Review</a></h5>
                        <h5 th:if="${productVo.score == 5}" class="rating star5"><a href="#">Customer Review</a></h5>
                    </nav>
                    <nav>
                        <div class="org_price">
			                <del>[[${#numbers.formatInteger(productVo.price, 3, 'COMMA')}]]</del>
			                <span>[[${productVo.discount}]]%</span>
                        </div>
                        <div class="dis_price">
                            <ins>[[${#numbers.formatInteger(productVo.salePrice, 3, 'COMMA')}]]</ins>
                        </div>
                    </nav>
                    <nav>
                        <span th:if="${productVo.delivery == 0}" class="delivery">Free Shipping</span>
                      	<span th:if="${productVo.delivery > 0}" class="delivery">Shipping Fee [[${#numbers.formatInteger(productVo.delivery, 3, 'COMMA')}]]Won</span>
                        <span class="arrival">Estimated Arrival on 7/8</span>
                        <span class="desc">Domestic shipping only.</span>
                    </nav>
                    <nav>
                        <span class="card cardfree"><i>아이콘</i>Pay by installments</span>&nbsp;&nbsp;
                        <span class="card cardadd"><i>아이콘</i>Promotions</span>
                    </nav>
                    <nav>
                        <span class="origin">Origin: Refer to product description.</span>
                    </nav>
                    <img src="../img/vip_plcc_banner.png" class="banner" alt="smilecard"/>
                    <div class="total">
                        <span>[[${#numbers.formatInteger(productVo.salePrice, 3, 'COMMA')}]]</span>
                        <em>Total Price</em>
                    </div>

                    <div class="button">
                        <input type="button" class="cart"  value="Go to cart"/>
                        <input type="button" class="order" value="Buy now"/>
                    </div>

                </div>
            </article>
            <article class="detail">
                <nav>
                    <h1>Product Description</h1>
                </nav>
                <!-- detail image -->
                 <img th:src="@{/thumb/{code1}/{code2}/{img}(code1=${productVo.cate1}, code2=${productVo.cate2}, img=${productVo.detail})}" alt="detailimg"/>
            </article>

            <article class="notice">
                <nav>
                    <h1>Product information</h1>
                    <p> This information is provided by ACT ON THE CONSUMER PROTECTION IN ELECTRONIC COMMERCE.</p>
                </nav>
                <table border="0">
                    <tr>
                        <td>Item Code</td>
                        <td>[[${productVo.code}]]</td>
                    </tr>
                    <tr>
                        <td>Item Condition</td>
                        <td>[[${productVo.status}]]</td>
                    </tr>
                    <tr>
                        <td>Tax Exemption</td>
                        <td>[[${productVo.dutyfree}]]</td>
                    </tr>
                    <tr>
                        <td>Receipt Issuance</td>
                        <td>[[${productVo.receipt}]]</td>
                    </tr>
                    <tr>
                        <td>Business Type</td>
                        <td>[[${productVo.bizClass}]]</td>
                    </tr>
                    <tr>
                        <td>Brand</td>
                        <td>[[${productVo.company}]]</td>
                    </tr>
                    <tr>
                        <td>Origin</td>
                        <td>[[${productVo.origin}]]</td>
                    </tr>
                </table>
                <table border="0">
                    <tr>
                        <td>Material</td>
                        <td>According to product description</td>
                    </tr>
                    <tr>
                        <td>Color</td>
                        <td>According to product description</td>
                    </tr>
                    <tr>
                        <td>Size</td>
                        <td>According to product description</td>
                    </tr>
                    <tr>
                        <td>Manufacturer/Importer</td>
                        <td>According to product description</td>
                    </tr>
                    <tr>
                        <td>Country of Manufacture</td>
                        <td>According to product description</td>
                    </tr>
                    <tr>
                        <td>Wash and Care Instructions</td>
                        <td>According to product description</td>
                    </tr>
                    <tr>
                        <td>Date of Manufacture</td>
                        <td>According to product description</td>
                    </tr>
                    <tr>
                        <td>Warranty Policy</td>
                        <td>According to product description</td>
                    </tr>
                    <tr>
                        <td>Customer Service</td>
                        <td>000-000-0000</td>
                    </tr>
                    <tr>
                        <td>Estimated Delivery Time</td>
                        <td>3 days</td>
                    </tr>
                    <tr>
                    <td colspan="2">Defective Items & Others</td>
                    </tr>
                </table>
                <p class="notice">
                    You can immediately contact our Customer Service Center with the photos of the defective item, the invoice, and the shipping box, all of which are necessary for discussion with the seller. The CS center will assist you in communicating with the seller.
					Kmarket will not be held responsible for any defects in the items caused by the sellers and will not make compensations on the sellers’ behalf.
					In case minors under 19 purchase items without consent from their legal representative, they can cancel the purchase.
                </p>
            </article>
            <article class="review">
                <nav>
                    <h1>Customer Reviews</h1>
                </nav>
                <ul>
                    <li>
                        <div>
                            <h5 class="rating star4">Review</h5>
                            <span>seo******	2018-07-10</span>
                        </div>
                        <h3>product1/BLUE/L</h3>
                        <p>Excellent quality, delivered quickly.</p>
                    </li>
                    <li>
                        <div>
                            <h5 class="rating star4">Review</h5>
                            <span>seo******	2018-07-10</span>
                        </div>
                        <h3>product11/BLUE/L</h3>
                        <p>Excellent quality, delivered quickly.</p>
                    </li>
                    <li>
                        <div>
                            <h5 class="rating star4">Review</h5>
                            <span>seo******	2018-07-10</span>
                        </div>
                        <h3>product11/BLUE/L</h3>
						<p>Excellent quality, delivered quickly.</p>
                    </li>
                    <li>
                        <div>
                            <h5 class="rating star4">Review</h5>
                            <span>seo******	2018-07-10</span>
                        </div>
                        <h3>product11/BLUE/L</h3>
                        <p>Excellent quality, delivered quickly.</p>
                    </li>
                    <li>
                        <div>
                            <h5 class="rating star4">Review</h5>
                            <span>seo******	2018-07-10</span>
                        </div>
                        <h3>product11/BLUE/L</h3>
                        <p>Excellent quality, delivered quickly.</p>
                    </li>
                </ul>
                <div class="paging">
                    <span class="prev">
                        <a href="#"><&nbsp;Prev</a>
                    </span>
                    <span class="num">
                        <a href="#" class="on">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#">6</a>
                        <a href="#">7</a>
                    </span>
                    <span class="next">
                        <a href="#">Next&nbsp;></a>
                    </span>
                </div>

            </article>
        </section>
    </section>
</main>
<th:block th:include="@{_footer.html}"/>