<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
        <footer>
            <ul>
                <li><a href="#">About Company</a></li>
                <li><a href="#">Conditions of Use</a></li>
                <li><a href="#">Privacy Notice</a></li>
                <li><a href="#">Act of Consumer Protection</a></li>
            </ul>
            <div>
                <p><img th:src="@{/img/footer_logo.png}" alt="logo"></p>
                <p>
                  <strong>KMARKET Inc.</strong><br />
                  440 Terry Avenue North Seattle, WA 98109 USA<br />
                  CEO : KIM<br />
                  Business Certification : 220-81-83676<br />
                  Fax : 000-000-0000
                </p>
                <p>
                  <strong>Customer Service</strong><br />
                  Tel : 1234-5678 (Weekdays 09:00~18:00)<br />
                  VIP Only : 1234-9999 (Everyday 09:00~18:00)<br />
                  440 Terry Avenue North Seattle, WA 98109 USA<br />
                  Fax : 000-000-0000 | Mail : kmarket@kmarket.co.kr<br />
                </p>
            </div>              
        </footer>
    </div>    
</body>
</html>