<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="@{member/_header_member.html}"/>
<script th:inline="javascript">
	var result="[[${result}]]";
	
	if(result==0) {
		alert('Login failed. \nCheck your id and password again.')
	} else if(result==1) {
		alert('You need to login first to check out.')
	}
</script>
<main>
    <div id="member-login">
        <img src="../img/member_txt_login.gif" alt="login" />
		<form th:action="@{/member/login}" method="post">
			<input type="hidden" name="result" th:value="${result}" />
			<div>
				<label>
					<span><img src="../img/member_txt_id.gif" alt="id"></span> 
					<input type="text" name="uid" />
				</label>
				<label>
					<span><img src="../img/member_txt_pass.gif" alt="pw"></span> 
					<input type="password" name="pass" />
				</label>
			</div>
			<input type="submit" value="Login" />
			<span>
				<a href="#">Forgot your ID?</a>
				<a href="#">Forgot your password?</a>
				<a th:href="@{member/register.html}">Sign Up</a>
			</span>
		</form>
		<img src="../img/member_certifi_logo.gif" alt="banner">
	</div>
</main>  
<th:block th:include="@{member/_footer_member.html}"/>      