<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="@{member/_header_member.html}"/>
       <main>
           <div id="member-register">
               <h1>Register</h1>
			<form action="#" method="POST">
				<section>
					<table>
						<caption>User Information</caption>
						<tr>
							<th><span class="essential">*</span>ID</th>
							<td><input type="text" name="km_uid" placeholder="Enter your ID"
								required /> <span class="msgId">User ID must be 4-12 characters.</span></td>
						</tr>
						<tr>
							<th><span class="essential">*</span>Password</th>
							<td><input type="password" name="km_pass" placeholder="Enter your password"
								required /> <span class="msgPass">Passwords must be 8-12 characters.</span></td>
						</tr>
						<tr>
							<th><span class="essential">*</span>Confirm password</th>
							<td><input type="password" name="km_pass" placeholder="Confirm your password"
								required /> <span class="msgPass">Confirm your password</span></td>
						</tr>
					</table>
				</section>
				<section>
					<table>
						<caption>General Information</caption>
						<tr>
							<th><span class="essential">*</span>Name</th>
							<td><input type="text" name="km_name" placeholder="Enter your name"
								required /></td>
						</tr>
						<tr>
							<th><span class="essential">*</span>Gender</th>
							<td><label><input type="radio" name="km_gender"
									value="1" checked>&nbsp;M</label> <label><input
									type="radio" name="gender" value="2">&nbsp;F</label></td>
						</tr>
						<tr>
							<th><span class="essential">*</span>EMAIL</th>
							<td><input type="email" name="km_email" placeholder="Enter your email"
								required /></td>
						</tr>
						<tr>
							<th><span class="essential">*</span>Phone</th>
							<td><input type="text" name="km_hp" maxlength="13"
								placeholder="Enter your number" required /> <span class="msgHp"> Enter 13 digits including -.</span></td>
						</tr>
						<tr class="addr">
							<th>Address</th>
							<td>
								<div>
									<input type="text" name="km_zip" id="zip" placeholder="Zipcode"
										readonly />
								</div>
								<div>
									<input type="text" name="km_addr1" id="addr1" size="50"
										placeholder="Address Line 1" readonly />
								</div>
								<div>
									<input type="text" name="km_addr2" id="addr2" size="50"
										placeholder="Address Line 2" />
								</div>
							</td>
						</tr>
					</table>
	
				</section>
				<div>
					<input type="submit" class="join" value="Join" />
				</div>
			</form>
           </div>
       </main>        
<th:block th:include="@{member/_footer_member.html}"/>