<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="@{member/_header_member.html}"/>
        <main>
            <div id="member-register-seller">
                <h1>Register(Seller)</h1>
				<form action="#" method="POST">
					<section>
						<table>
							<caption>Seller Information</caption>
							<tr>
								<th><span class="essential">*</span>ID</th>
								<td><input type="text" name="km_uid" placeholder="Enter your ID"
								required /> <span class="msgId">User ID must be 4-12 characters.</span></td>
							</tr>
							<tr>
								<th><span class="essential">*</span>Password</th>
								<td><input type="password" name="km_pass" placeholder="Enter your password"
								required /> <span class="msgPass">Passwords must be 8-12 characters.</span></td>
							</tr>
							<tr>
								<th><span class="essential">*</span>Confirm password</th>
								<td><input type="password" name="km_pass" placeholder="Confirm your password"
								required /> <span class="msgPass">Confirm your password</span></td>
							</tr>
						</table>
					</section>

					<section>
						<table>
							<caption>General Information</caption>
							<tr>
								<th><span class="essential">*</span>Company Name</th>
								<td><input type="text" name="kms_company"
									placeholder="Enter company name." required /> <span class="msgCompany">&nbsp;&nbsp;Enter the full name.</span></td>
							</tr>
							<tr>
								<th><span class="essential">*</span>CEO</th>
								<td><input type="text" name="kms_ceo" placeholder="Enter CEO"
									required /></td>
							</tr>
							<tr>
								<th><span class="essential">*</span>Business Certification</th>
								<td><input type="text" name="kms_corp_reg"
									placeholder="Enter business certification number." required /> <span class="msgCorp">&nbsp;&nbsp;
										Enter 12 digits including -.</span></td>

							</tr>
							<tr>
								<th><span class="essential">*</span>Online Seller Number</th>
								<td><input type="text" name="kms_online_reg"
									placeholder="Enter online seller number." required /> <span class="msgOnline">&nbsp;&nbsp;
										Enter the number including -.</span></td>
							</tr>
							<tr>
								<th><span class="essential">*</span>Phone</th>
								<td><input type="text" name="kms_tel" placeholder="Enter phone number."
									required /> <span class="msgTel">&nbsp;&nbsp;
										Enter the number including -.</span></td>
							</tr>
							<tr>
								<th><span class="essential">*</span>Fax</th>
								<td><input type="text" name="kms_fax" placeholder="Enter fax number"
									required /> <span class="msgFax">&nbsp;&nbsp;
										Enter the number including -.</span></td>
							</tr>
							<tr>
								<th><span class="essential">*</span>EMAIL</th>
								<td><input type="email" name="kms_email"
									placeholder="Enter email address" required /></td>
							</tr>
							<tr class="addr">
								<th>Company Address</th>
								<td>
									<div>
										<input type="text" name="kms_zip" id="zip"
											placeholder="Zipcode" readonly />
									</div>
									<div>
										<input type="text" name="kms_addr1" id="addr1" size="50"
											placeholder="Address Line 1" readonly />
									</div>
									<div>
										<input type="text" name="kms_addr2" id="addr2" size="50"
											placeholder="Address Line 2" />
									</div>
								</td>
							</tr>
						</table>
					</section>
					<section>
						<table>
							<caption>Manager Information</caption>
							<tr>
								<th><span class="essential">*</span>Name</th>
								<td><input type="text" name="km_name" placeholder="Enter manager name"
									required /></td>
							</tr>
							<tr>
								<th><span class="essential">*</span>Phone</th>
								<td><input type="text" name="km_hp" maxlength="13"
									placeholder="Enter phone number" required /> <span class="msgHp">&nbsp;&nbsp;
										Enter 13 digits including -.</span></td>
							</tr>
						</table>
					</section>

					<div>
						<input type="submit" class="join" value="Submit" />
					</div>
				</form>
            </div>
        </main>        
<th:block th:include="@{member/_footer_member.html}"/>