<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="@{member/_header_member.html}"/>
        <main>
            <div id="member-signup">
				<h1>Terms</h1>
				<section>
					<h3><span class="essential">(Essential)</span>KMARKET Conditions of Use</h3>
					<textarea class="terms" readonly></textarea>
					<label><input type="checkbox" name="agree1" />I agree.</label>

					<h3><span class="essential">(Essential)</span>Terms of Electronic Commerce</h3>
					<textarea class="financial" readonly></textarea>
					<label><input type="checkbox" name="agree2" />I agree.</label>

					<h3><span class="essential">(Essential)</span>Privacy Notice</h3>
					<textarea class="privacy" readonly></textarea>
					<label><input type="checkbox" name="agree3" />I agree.</label>
				</section>

				<section>
					<h3><span class="optional">(Optional)</span>Location Notice</h3>
					<textarea class="location" readonly></textarea>
					<label><input type="checkbox" name="agree4" />I agree.</label>
				</section>

				<div>
					<input type="button" class="agree" value="Agree" />
				</div>
            </div>
        </main>        
<th:block th:include="@{member/_footer_member.html}"/>