<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>index</title>
</head>
<body>
	<h3>[[${title}]]</h3>
	
	<h4>th:text</h4>
	<p th:text="${hello}"></p>
	<p>[[${hello}]]</p>
	
	<h4>th:if</h4>
	<p>
	
		<a href="#" th:if="${userVo}">
			Hello, [[${userVo.name}]].
		</a>
		<a href="#" th:unless="${userVo}">
			userVo is not available.
		</a>
	</p>
	
	<h4>th:each</h4>
	<table border="1">
		<tr th:each="user:${users}">
			<td>[[${user.uid}]]</td>
			<td>[[${user.name}]]</td>
			<td>[[${user.hp}]]</td>
			<td>[[${user.age}]]</td>
		</tr>
	</table>
	
	<h4>th:href</h4>
	<a th:href="@{/include}">Thymeleaf hyperlink</a>
</body>
</html>