<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
    <div id="wrapper">
        <section id="board" class="list">
            <h3>List</h3>
            <article>
                <p>
                    Welcome, user.
                    <a href="./user/login.html" class="logout">[Logout]</a>
                </p>
                <table border="0">
                    <tr>
                        <th>No.</th>
                        <th>Title</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Hits</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><a href="./view.html">Title</a>&nbsp;[3]</td>
                        <td>Writer</td>
                        <td>20-05-12</td>
                        <td>12</td>
                    </tr>
                </table>
            </article>

            <div class="paging">
                <a href="#" class="prev">Prev</a>
                <a href="#" class="num current">1</a>                
                <a href="#" class="num">2</a>                
                <a href="#" class="num">3</a>                
                <a href="#" class="next">Next</a>
            </div>

            <a href="./write.html" class="btnWrite">Write</a>

        </section>
    </div>    
</body>
</html>