<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
    <div id="wrapper">
        <section id="board" class="view">
            <h3>View</h3>
            <table>
                <tr>
                    <td>Title</td>
                    <td><input type="text" name="title" value="Title" readonly/></td>
                </tr>
                <tr>
                    <td>Attach</td>
                    <td>
                        <a href="#">File.xls</a>
                        <span>Download(s)</span>
                    </td>
                </tr>
                <tr>
                    <td>Content</td>
                    <td>
                        <textarea name="content" readonly>Content sample</textarea>
                    </td>
                </tr>
            </table>
            <div>
                <a href="#" class="btnDelete">Delete</a>
                <a href="./modify.html" class="btnModify">Modify</a>
                <a href="./list.html" class="btnList">List</a>
            </div>  
            
            <section class="commentList">
                <h3>Comments</h3>
                <article class="comment">
                    <span>
                        <span>길동이</span>
                        <span>20-05-13</span>
                    </span>
                    <textarea name="comment" readonly>Comment sample</textarea>
                    <div>
                        <a href="#">Delete</a>
                        <a href="#">Modify</a>
                    </div>
                </article>
                <p class="empty">
                    No Comments.
                </p>
            </section>

            <section class="commentForm">
                <h3>Write a comment.</h3>
                <form action="#">
                    <textarea name="comment"></textarea>
                    <div>
                        <a href="#" class="btnCancel">Cancel</a>
                        <input type="submit" class="btnWrite" value="Submit"/>
                    </div>
                </form>
            </section>

        </section>
    </div>    
</body>
</html>