<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
    <div id="wrapper">
        <section id="user" class="register">
            <form action="#" method="POST">
                <table border="1">
                    <caption>User Information</caption>
                    <tr>
                        <td>ID</td>
                        <td>
                            <input type="text" name="uid" placeholder="Enter your ID"/>
                            <span class="resultId"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td>
                            <input type="password" name="pass1" placeholder="Enter your password"/>                            
                        </td>
                    </tr>
                    <tr>
                        <td>Confirm Password</td>
                        <td>
                            <input type="password" name="pass2" placeholder="Confirm your password"/>
                            <span class="resultPass"></span>
                        </td>
                    </tr>
                </table>
                <table border="1">
                    <caption>Personal Information</caption>
                    <tr>
                        <td>Name</td>
                        <td>
                            <input type="text" name="name" placeholder="Enter your name"/>                            
                        </td>
                    </tr>
                    <tr>
                        <td>Nickname</td>
                        <td>
                            <p>You can only use English and numbers.</p>
                            <input type="text" name="nick" placeholder="Enter your nickname"/>
                            <span class="resultNick"></span>                            
                        </td>
                    </tr>
                    <tr>
                        <td>E-Mail</td>
                        <td>
                            <input type="email" name="email" placeholder="Enter your email"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>
                            <input type="text" name="hp" placeholder="including -" minlength="13" maxlength="13" />
                        </td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>
                            <div>
                                <input type="text" name="zip" placeholder="ZipCode" readonly/>
                                <button class="btnZip">Search</button>
                            </div>                            
                            <div>
                                <input type="text" name="addr1" placeholder="Address Line 1" readonly/>
                            </div>
                            <div>
                                <input type="text" name="addr2" placeholder="Address Line 2"/>
                            </div>
                        </td>
                    </tr>
                </table>

                <div>
                    <a href="./login.html" class="btnCancel">Cancel</a>
                    <input type="submit"   class="btnJoin" value="Join"/>
                </div>

            </form>
        </section>
    </div>    
</body>
</html>