<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Terms</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
    <div id="wrapper">
        <section id="user" class="terms">
            <table>
                <caption>Terms & Conditions</caption>
                <tr>
                    <td>
                        <textarea readonly>Terms</textarea>
                        <p>
                            <label><input type="checkbox" name="chk1"/>I agree.</label>
                        </p>
                    </td>
                </tr>
            </table>
            <table>
                <caption>Privacy Policy</caption>
                <tr>
                    <td>
                        <textarea readonly>Privacy Policy</textarea>
                        <p>
                            <label><input type="checkbox" name="chk2"/>I agree.</label>
                        </p>
                    </td>
                </tr>
            </table>
            <div>
                <a href="./login.html">Cancel</a>
                <a href="./register.html">Next</a>
            </div>
        </section>
    </div>
    
</body>
</html>